@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
	background: #fff;
	font-family: 'Poppins', sans-serif;
}

.notif {
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.25rem 0.5rem;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.show {
	animation: showNotif 4s;
}

.meal-name {
	font-size: 0.95rem;
	font-weight: bold;
}
.meal-desc {
	font-size: 0.9rem;
	color: #555;
}

@keyframes showNotif {
	0% {
		top: -35px;
	}
	8% {
		top: 0px;
	}
	92% {
		top: 0px;
	}
	100% {
		top: -35px;
	}
}
